@model FSPBook.Web.Models.ProfileViewModel
@{
    ViewData["Title"] = "Profile Page";
}

<div class="header">
    
    <h2>@Model.Profile.FullName</h2>
    <h3>@Model.Profile.JobTitle</h3>
</div>

<div class="row">
    <div class="leftcolumn">
        @foreach (var post in Model.Posts)
        {
        <div class="card">
           <h5>@post.DateTimePosted.DateTime</h5>
            <p>@post.Content</p>
        </div>

            

        }
    </div>

    <div class="rightcolumn">
        @foreach(var article in Model.Articles)
        {
        <div class="card">
            <h6>@article.Title</h6>
            <div style="height:100px;"><img src="@article.Url" width="100" /></div>
        </div>
        }


    </div>
</div>

<div class="footer">
    <h2>Footer</h2>
</div>
